/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: navy;
    z-index: 1000;
}

.hero {
    height: 60vh;
    background-image: url("BAS-picture.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 5px black;

}

header h1,
header nav {
    color: white;
}

a {
    display: inline-block;
    background-color: navy;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /*links*/
}

a:hover {
    background-color: rgb(0, 0, 80);
    text-decoration: underline;
}

.bottom-section {
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.welcome {
    flex: 3;
}

/*.widgets {
    flex: 1;
}*/
